<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TestFetch</servlet-name>
        <servlet-class>TestFetch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTest</servlet-name>
        <servlet-class>Servlets.getTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadODI</servlet-name>
        <servlet-class>views.LoadODI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadIPL</servlet-name>
        <servlet-class>views.LoadIPL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadT20I</servlet-name>
        <servlet-class>views.LoadT20I</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBBL</servlet-name>
        <servlet-class>views.LoadBBL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBPL</servlet-name>
        <servlet-class>views.LoadBPL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadPSL</servlet-name>
        <servlet-class>views.LoadPSL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCPL</servlet-name>
        <servlet-class>views.LoadCPL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadTest</servlet-name>
        <servlet-class>views.LoadTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAll</servlet-name>
        <servlet-class>views.LoadAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTeams</servlet-name>
        <servlet-class>Servlets.getTeams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getGrounds</servlet-name>
        <servlet-class>Servlets.getGrounds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getData</servlet-name>
        <servlet-class>Servlets.getData</servlet-class>
        
        <init-param>
            <param-name>compilerSourceVM</param-name>
            <param-value>1.8</param-value>
        </init-param>
        
        <init-param>
            <param-name>compilerTargetVM</param-name>
            <param-value>1.8</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>getDB</servlet-name>
        <servlet-class>Servlets.getDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getGroundData</servlet-name>
        <servlet-class>Servlets.getGroundData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadODI</servlet-name>
        <url-pattern>/LoadODI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadIPL</servlet-name>
        <url-pattern>/LoadIPL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadT20I</servlet-name>
        <url-pattern>/LoadT20I</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBBL</servlet-name>
        <url-pattern>/LoadBBL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBPL</servlet-name>
        <url-pattern>/LoadBPL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadPSL</servlet-name>
        <url-pattern>/LoadPSL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCPL</servlet-name>
        <url-pattern>/LoadCPL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadTest</servlet-name>
        <url-pattern>/LoadTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAll</servlet-name>
        <url-pattern>/LoadAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTeams</servlet-name>
        <url-pattern>/getTeams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getGrounds</servlet-name>
        <url-pattern>/getGrounds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getData</servlet-name>
        <url-pattern>/getData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDB</servlet-name>
        <url-pattern>/getDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getGroundData</servlet-name>
        <url-pattern>/getGroundData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestFetch</servlet-name>
        <url-pattern>/TestFetch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTest</servlet-name>
        <url-pattern>/getTest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
