<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TestFetch</servlet-name>
        <servlet-class>TestFetch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAll</servlet-name>
        <servlet-class>views.LoadAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTeams</servlet-name>
        <servlet-class>Servlets.getTeams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getGrounds</servlet-name>
        <servlet-class>Servlets.getGrounds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getData</servlet-name>
        <servlet-class>Servlets.getData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDB</servlet-name>
        <servlet-class>Servlets.getDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getGroundData</servlet-name>
        <servlet-class>Servlets.getGroundData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getLdate</servlet-name>
        <servlet-class>Servlets.getLdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>matchidDB</servlet-name>
        <servlet-class>Servlets.matchidDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editDB</servlet-name>
        <servlet-class>Servlets.editDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testmatchidDB</servlet-name>
        <servlet-class>Servlets.testmatchidDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteDB</servlet-name>
        <servlet-class>Servlets.deleteDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editNameTable</servlet-name>
        <servlet-class>Servlets.editNameTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editNameDB</servlet-name>
        <servlet-class>Servlets.editNameDB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadAll</servlet-name>
        <url-pattern>/LoadAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTeams</servlet-name>
        <url-pattern>/getTeams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getGrounds</servlet-name>
        <url-pattern>/getGrounds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getData</servlet-name>
        <url-pattern>/getData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDB</servlet-name>
        <url-pattern>/getDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getGroundData</servlet-name>
        <url-pattern>/getGroundData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestFetch</servlet-name>
        <url-pattern>/TestFetch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getLdate</servlet-name>
        <url-pattern>/getLdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>matchidDB</servlet-name>
        <url-pattern>/matchidDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editDB</servlet-name>
        <url-pattern>/editDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testmatchidDB</servlet-name>
        <url-pattern>/testmatchidDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteDB</servlet-name>
        <url-pattern>/deleteDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editNameTable</servlet-name>
        <url-pattern>/editNameTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editNameDB</servlet-name>
        <url-pattern>/editNameDB</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
